WCF/WCF_WPFDesigner/Service References/ServiceReference1/DesignerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DesignerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61389/DesignerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61389/DesignerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDesignerService_LoadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadReport" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_LoadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RenderingInteractions_InputMessage">
    <wsdl:part name="parameters" element="tns:RenderingInteractions" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RenderingInteractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenderingInteractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RequestFromUserRenderReport_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestFromUserRenderReport" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RequestFromUserRenderReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestFromUserRenderReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_ExportDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportDocument" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_ExportDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_PrepareRequestFromUserVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:PrepareRequestFromUserVariables" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_PrepareRequestFromUserVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrepareRequestFromUserVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_InteractiveDataBandSelection_InputMessage">
    <wsdl:part name="parameters" element="tns:InteractiveDataBandSelection" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_InteractiveDataBandSelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:InteractiveDataBandSelectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_SaveReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveReport" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_SaveReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_LoadConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadConfiguration" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_LoadConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RenderReport_InputMessage">
    <wsdl:part name="parameters" element="tns:RenderReport" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RenderReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenderReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_BuildObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildObjects" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_BuildObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RetrieveColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveColumns" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_RetrieveColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsGetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsGetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsGetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsGetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsCreateCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsCreateCollection" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsCreateCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsCreateCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsDelete" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsOpen" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsOpenResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsSave_InputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsSave" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_GoogleDocsSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoogleDocsSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_OpenReportScript_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenReportScript" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_OpenReportScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenReportScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_SaveReportScript_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveReportScript" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_SaveReportScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveReportScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_CheckReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckReport" />
  </wsdl:message>
  <wsdl:message name="IDesignerService_CheckReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IDesignerService">
    <wsdl:operation name="LoadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/LoadReport" message="tns:IDesignerService_LoadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/LoadReportResponse" message="tns:IDesignerService_LoadReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenderingInteractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/RenderingInteractions" message="tns:IDesignerService_RenderingInteractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/RenderingInteractionsResponse" message="tns:IDesignerService_RenderingInteractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestFromUserRenderReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/RequestFromUserRenderReport" message="tns:IDesignerService_RequestFromUserRenderReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/RequestFromUserRenderReportResponse" message="tns:IDesignerService_RequestFromUserRenderReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/ExportDocument" message="tns:IDesignerService_ExportDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/ExportDocumentResponse" message="tns:IDesignerService_ExportDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrepareRequestFromUserVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/PrepareRequestFromUserVariables" message="tns:IDesignerService_PrepareRequestFromUserVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/PrepareRequestFromUserVariablesResponse" message="tns:IDesignerService_PrepareRequestFromUserVariables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InteractiveDataBandSelection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/InteractiveDataBandSelection" message="tns:IDesignerService_InteractiveDataBandSelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/InteractiveDataBandSelectionResponse" message="tns:IDesignerService_InteractiveDataBandSelection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/SaveReport" message="tns:IDesignerService_SaveReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/SaveReportResponse" message="tns:IDesignerService_SaveReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/LoadConfiguration" message="tns:IDesignerService_LoadConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/LoadConfigurationResponse" message="tns:IDesignerService_LoadConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenderReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/RenderReport" message="tns:IDesignerService_RenderReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/RenderReportResponse" message="tns:IDesignerService_RenderReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/TestConnection" message="tns:IDesignerService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/TestConnectionResponse" message="tns:IDesignerService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/BuildObjects" message="tns:IDesignerService_BuildObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/BuildObjectsResponse" message="tns:IDesignerService_BuildObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/RetrieveColumns" message="tns:IDesignerService_RetrieveColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/RetrieveColumnsResponse" message="tns:IDesignerService_RetrieveColumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsGetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsGetDocuments" message="tns:IDesignerService_GoogleDocsGetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsGetDocumentsResponse" message="tns:IDesignerService_GoogleDocsGetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsCreateCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsCreateCollection" message="tns:IDesignerService_GoogleDocsCreateCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsCreateCollectionResponse" message="tns:IDesignerService_GoogleDocsCreateCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsDelete" message="tns:IDesignerService_GoogleDocsDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsDeleteResponse" message="tns:IDesignerService_GoogleDocsDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsOpen" message="tns:IDesignerService_GoogleDocsOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsOpenResponse" message="tns:IDesignerService_GoogleDocsOpen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsSave" message="tns:IDesignerService_GoogleDocsSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/GoogleDocsSaveResponse" message="tns:IDesignerService_GoogleDocsSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenReportScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/OpenReportScript" message="tns:IDesignerService_OpenReportScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/OpenReportScriptResponse" message="tns:IDesignerService_OpenReportScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReportScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/SaveReportScript" message="tns:IDesignerService_SaveReportScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/SaveReportScriptResponse" message="tns:IDesignerService_SaveReportScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesignerService/CheckReport" message="tns:IDesignerService_CheckReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesignerService/CheckReportResponse" message="tns:IDesignerService_CheckReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDesignerService" type="tns:IDesignerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadReport">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/LoadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderingInteractions">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/RenderingInteractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFromUserRenderReport">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/RequestFromUserRenderReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportDocument">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/ExportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareRequestFromUserVariables">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/PrepareRequestFromUserVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InteractiveDataBandSelection">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/InteractiveDataBandSelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/SaveReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadConfiguration">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/LoadConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderReport">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/RenderReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildObjects">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/BuildObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveColumns">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/RetrieveColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsGetDocuments">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/GoogleDocsGetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsCreateCollection">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/GoogleDocsCreateCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsDelete">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/GoogleDocsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsOpen">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/GoogleDocsOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleDocsSave">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/GoogleDocsSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenReportScript">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/OpenReportScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReportScript">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/SaveReportScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckReport">
      <soap:operation soapAction="http://tempuri.org/IDesignerService/CheckReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesignerService">
    <wsdl:port name="BasicHttpBinding_IDesignerService" binding="tns:BasicHttpBinding_IDesignerService">
      <soap:address location="http://localhost:61389/DesignerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>